body {
	background: #ccc;
	padding: 15px;
}

a {
	border: 1px solid black;
	text-decoration: none;
	padding: 10px;
	font-weight: bold;
	color: black;
	background: white;
}

a:hover {
	color: white;
	background: black;
}

h1 {
	text-align: center;
}

.post {
	margin: 0 auto;
	width: 35%;
	border: 1px solid black;
	margin-bottom: 2px;
	text-align: center;
}

.header {
	width: 25%;
	margin: 0 auto;
}

.pagination {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

ul {
	list-style: none;
}